[client]
port = 3306
default-character-set=utf8

[mysql]
no-auto-rehash
default-character-set=utf8

[mysqld]

log-bin=mysql-bin
max_binlog_size=104857600
binlog_format=ROW
character-set-server=utf8
server-id = 1
datadir = /var/lib/mysql/data/
wait_timeout=31536000
interactive_timeout=31536000
slow_query_log=on
slow-query-log-file=/var/lib/mysql/mysql_slow.log
long_query_time=2
general_log=on
general_log_file=/var/lib/mysql/mysql_all.log
open_files_limit = 10240
back_log = 600
max_connections = 3000
max_connect_errors = 6000  
external-locking = FALSE  
max_allowed_packet = 32M  
query_cache_size = 64M  
query_cache_limit = 4M  
query_cache_min_res_unit = 2k  
transaction_isolation = READ-COMMITTED  
tmp_table_size = 256M  
max_heap_table_size = 256M
expire_logs_days = 7  
key_buffer_size = 2048M  
read_buffer_size = 1M  
read_rnd_buffer_size = 16M  
bulk_insert_buffer_size = 64M  
myisam_sort_buffer_size = 128M  
myisam_max_sort_file_size = 10G  
myisam_recover  
skip-name-resolve  
lower_case_table_names = 1  
innodb_additional_mem_pool_size = 16M  
innodb_buffer_pool_size = 2048M  
innodb_thread_concurrency = 8  
innodb_flush_log_at_trx_commit = 2  
innodb_lock_wait_timeout = 120  
innodb_file_per_table = 0 

[mysqldump]
quick  
